body {background-color: #a6c979; 
	color: #0b1d3f; 
	font-size: 1em;
	margin: 0;
	padding:0;
}
	
/*Site name*/
h1  {text-align: center;
	color: #a6c979;
	padding-top: 0;
	margin: 0;}
	
/*Page headings and sub-headings*/
h2 {text-align: center;
	padding-top: 0;}

h3 {text-align: left;
	clear: both;}
	
/*page separators*/


/*description list*/


/*table*/
table {
}
th {height: auto;
	width: 100%;
	border: 0;
	padding: 0 .5em .7em .5em;
	text-align: center;
	background-color: #2b55a9;
	color: #a6c979;
	margin: 0 1em 0 1em;}
td  {width: 100%;
	border: 0;
	padding: .5em;
	text-align: center;}
td img {width: 60%;}
#posterImg {width: 95%;}
.tablefooter {}

/*page wrapper*/
#wrapper {
	width: 100%; 
	margin-right: 0; 
	margin-left: 0;
	min-width: 100%;
	max-width: 100%;
	padding: 0;
	height: 50px;
}
#centerpage {
	background-image: url(images/column3.png), url(images/column3.png);
	background-position: right, left;
    background-repeat: repeat-y, repeat-y;
}
#footerwrapper {
	padding-bottom: 14px; /*creates room below footer for background images*/
	background-image: url(images/columnbottom3.png), url(images/columnbottom3.png);
	background-position: bottom right, bottom left;
    background-repeat: no-repeat, no-repeat;
}
/*header info - top right bottom left*/
#header {
	
}
#header p  {
	margin: 0 20px 20px 20px;
}

/*floats & margins*/
.floatright {float: right;}
.floatleft {float: left;}
.marginleft {margin-left: 50%;}
.clearboth {clear: both;}
.smallmargin {margin-left: 30px;}
.centerspace  {margin-left: 35%;}
	
/*navigation info*/
ul#nav {
	font-size: 1em;
}
ul#nav li a {
	color: #fff;
	line-height: 150%;
}
ul#nav li:hover ul.dropdown {
	display: block;
	position: absolute;
	top: 36px;
	right: 0px;
}
ul#nav li ul.dropdown a {
	height: 35px;
	line-height: 120%;
	color: #fff;
}
ul#nav li ul.dropdown {
	padding: 0;
	width: 170px;
}
/*testing*/
ul#nav li ul.dropdown ul.dropdown2, ul#nav li ul.dropdown ul.dropdown3, ul#nav li ul.dropdown ul.dropdown4 {
	margin: 0;
	padding: 0;
	display: none;
	-webkit-box-shadow: -2px 2px 5px -2px #0b1d3f;
	-moz-box-shadow: -2px 2px 5px -2px #0b1d3f;
	box-shadow: -2px 2px 5px -2px #0b1d3f;
	-webkit-border-radius: .4em 0 .4em .4em; 
	-moz-border-radius: .4em 0 .4em .4em; 
	border-radius: .4em 0 .4em .4em;
	z-index: 4;
	width: 170px;
}
ul#nav ul.dropdown li:hover ul.dropdown2 {
	margin: 0;
	padding: 0;
	display: block;
	position: absolute;
	left: -171px;
	top: 0;
}
ul#nav ul.dropdown li:hover ul.dropdown3{
	margin: 0;
	padding: 0;
	display: block;
	position: absolute;
	left: -171px;
	top: 55px;
}
ul#nav ul.dropdown li:hover ul.dropdown4{
	margin: 0;
	padding: 0;
	display: block;
	position: absolute;
	left: -171px;
	top: 111px;
}


/*right column info - top right bottom left*/
#rightcolumn {
	float: none;
	margin: 0;
	padding: 0;
}	
	
.fade .floatleftcol span {
	display: block;
	position: relative;
	top: -35px;
	font-size: 1.2em;
}

/*footer info*/
#footer {
	text-align: center;
}
.footernav {
	display: none;
}



/*Image gallery settings*/
#gallery {
	height: 66em;
}


/*animations*/

	
/*mobile vs desktop*/
#mobile-only  {display: none;}
.content {padding: .5em 1em 1em 1em;}
.mobile {padding: .5em 1em .5em 1em;
	margin: 0;}

/*hyper-link special effects*/


	/*{shorthand: top right bottom left;}*/