body {background-color: #a6c979; 
	background-image: url(images/background-crystal1.gif);
	background-repeat: repeat;
	color: #0b1d3f; 
	font-size: 1.1em;
	font-family: Poppins, sans-serif;
	font-weight: 400;
	margin: 0;
	padding: 0;
	line-height: 150%;
}
	
/*Site name*/
h1  {text-align: center;
	color: #a6c979;
	font-family: Montserrat, Poppins, sans-serif;
	font-size: 3em;
	line-height: 0;
	padding-top: 0;
	text-shadow:  2px 2px #0b1d3f, -1px -1px #fff;
	margin: 0;
}

h1 img{border: 0;}
	
/*Page headings and sub-headings*/
h2 {text-align: center;
	color: #2b55a9;
	font-size: 2em;
	font-family: "Libre Baskerville", serif;
	line-height: 120%;
	padding: 0;
	margin: 1em 0;
	text-shadow: 1px 1px #0b1d3f, -1px -1px #fff;
}

h3 {text-align: left;
	color: #2b55a9;
	font-size: 1.3em;
	font-family: "Libre Baskerville", serif;
	line-height: 100%;
	padding: .5em 0;
	margin: 0 0 .4em 0;
	clear: both;
	text-shadow: 1px 1px #0b1d3f, -1px -1px #fff;}
	
.h3 {text-align: center;
	color: #2b55a9;
	font-size: 1.3em;
	font-family: "Libre Baskerville", serif;
	line-height: 100%;
	padding: .5em 0;
	margin: 0 0 .4em 0;
	clear: both;
	text-shadow: 1px 1px #0b1d3f, -1px -1px #fff;}

.title-font {
	font-weight: 500;
	font-size: 1.2em;
}
	
/*page separators*/
.project-title {text-align: center;
	padding-bottom: 1em;
	font-size: 1.2em;
}
	

.project-align {text-align: center;
	padding-bottom: 1em;
}

.topborder {
	height: 15px;
	border: 1px solid #c8d3e8;
	background-color: #a6c979; 
	background-image: url(images/background-crystal1.gif);
	background-repeat: repeat;
	margin: 1em 0;
	-webkit-box-shadow: inset 2px 2px 4px #0b1d3f, inset -1px -1px #fff; 
	-moz-box-shadow: inset 2px 2px 4px #0b1d3f, inset -1px -1px #fff; 
	box-shadow: inset 2px 2px 4px #0b1d3f, inset -1px -1px #fff;
	-webkit-border-radius: .2em; 
	-moz-border-radius: .2em; 
	border-radius: .2em;
}

.midborder {border-top: 2px dotted #6384c1;
	padding-top: 1em;
	margin-top: 1em;
	clear: both;
	width: 100%;}
	
.toppadding{padding-top: .1em;}

.pageheader {background-color: #2b55a9;}

.background {background-color: #f3f5f9;}

/*Contact page*/
label {
	display: block;
	width: 7em;
	text-align: right;
	float: left;
}
form input, textarea{
	float: left;
	margin-left: .5em;
}
form p {
	clear: left;
	padding-top: 1em;
}
/*description list*/
dt {font-family: Poppins, sans-serif;
	font-size: 1.2em;
	font-weight: 500;}
dd {padding-bottom: 10px;}

/*table*/
table {width: 95%;
	border: 0;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	min-width: 900px;
	max-width: 1130px;
	border-collapse: collapse;
	-webkit-border-radius: .2em; 
	-moz-border-radius: .2em; 
	border-radius: .2em;
	-webkit-box-shadow: 2px 2px 4px #0b1d3f, -1px -1px #fff; 
	-moz-box-shadow: 2px 2px 4px #0b1d3f, -1px -1px #fff; 
	box-shadow: 2px 2px 4px #0b1d3f, -1px -1px #fff;}
th {height: auto;
	width: 100%;
	border: 0;
	padding: 0 .5em .7em .5em;
	text-align: center;
	background-color: #2b55a9;
	-webkit-border-radius: .1em .1em 0 0; 
	-moz-border-radius: .1em .1em 0 0; 
	border-radius: .1em .1em 0 0;
	color: #a6c979;
	font-family: Poppins, sans-serif;
	font-size: 3em;
	line-height: 90%;
	text-shadow:  2px 2px #0b1d3f, -1px -1px #fff;
	margin: 0;}
td  {width: 100%;
	border: 0;
	padding: 2em;
	text-align: center;
	background-color: #f3f5f9;}
td h3 {
	text-align: center;
	text-shadow: 0 0 transparent, 0 0 transparent;
	color: #0b1d3f;
}
.tablefooter {-webkit-border-radius: 0 0 .2em .2em; 
	-moz-border-radius: 0 0 .2em .2em; 
	border-radius: 0 0 .2em .2em;}

/*page wrapper*/
#wrapper {
	width: 95%;
	margin: 0 auto;
	padding: 0;
	min-width: 900px;
	max-width: 1130px; 
	height: 50px;

}
#centerpage {
	width: 95%;
	margin: -50px auto 0 auto; /*creates image above header beneath navbar*/
	padding-top: 10px;
	padding-bottom: 15px; /*creates gap above footer*/
	min-width: 900px;
	max-width: 1130px;
	background-image: url(images/column.png), url(images/column.png);
	background-position: right, left;
    background-repeat: repeat-y, repeat-y;
}
#footerwrapper {
	width: 95%;
	margin: 0 auto 0 auto;
	padding-bottom: 46px; /*creates room below footer for background images*/
	min-width: 900px;
	max-width: 1130px;
	background-image: url(images/columnbottom.png), url(images/columnbottom.png);
	background-position: bottom right, bottom left;
    background-repeat: no-repeat, no-repeat;
}	
/*header info - top right bottom left*/
#header {
	padding: 0;
	margin: 55px 0 15px 0; /*creates gap above and below header*/
	background-color: #2b55a9;
	border: 1px solid #2b55a9;
	-webkit-box-shadow: 2px 2px 4px #0b1d3f, -1px -1px #c8d3e8; 
	-moz-box-shadow: 2px 2px 4px #0b1d3f, -1px -1px #c8d3e8; 
	box-shadow: 2px 2px 4px #0b1d3f, -1px -1px #c8d3e8;
	-webkit-border-radius: .2em; 
	-moz-border-radius: .2em; 
	border-radius: .2em;
}
#header img {
	width: 85%;
	max-width: 700px;
	height: auto;
	text-align: center;	
}
#header p  {text-align: right;
	font-family: Poppins, sans-serif;
	color: #f3f5f9;
	font-style: italic;
	font-weight: 500;
	margin: 0 50px 20px 50px;
	padding: 0;
	text-shadow: -1px -1px #0b1d3f, 1px 1px #0b1d3f, 1px -1px #0b1d3f, -1px 1px #0b1d3f;}
#header a {
	font-size: .6em;
	color: transparent;
}

/*right column info - top right bottom left*/
#rightcolumn {width: auto; 
	margin: 0;
	padding: 1px 50px 30px 50px;
	border: 1px solid #c8d3e8;
	background-color: #f3f5f9;
	/*background-color: #fff;*/
	min-height: 400px;
	-webkit-box-shadow: 2px 2px 4px #0b1d3f, -1px -1px #fff; 
	-moz-box-shadow: 2px 2px 4px #0b1d3f, -1px -1px #fff; 
	box-shadow: 2px 2px 4px #0b1d3f, -1px -1px #fff;
	-webkit-border-radius: .2em; 
	-moz-border-radius: .2em; 
	border-radius: .2em;
}	
/*Resize repaired page images*/
.repair img {width: 95%}

/*Thumbnail icons*/

.thumbnailIcon {
	-webkit-box-shadow: 2px 2px 4px #0b1d3f, -1px -1px #f3f5f9; 
	-moz-box-shadow: 2px 2px 4px #0b1d3f, -1px -1px #f3f5f9; 
	box-shadow: 2px 2px 4px #0b1d3f, -1px -1px #f3f5f9;
	-webkit-border-radius: .3em; 
	-moz-border-radius: .3em; 
	border-radius: .3em;
	width: 50px;
	height: auto;
	float: left;
	margin-right: 1em;
}

/*add space to bottom of to coursework page*/
.coursework li {padding-bottom: 3px;}

/*home page columns*/
	/*This changes the opacity of what ever image is not hovered over*/
.fade .floatleftcol a {opacity: 1;}
.fade:hover .floatleftcol a img{
	opacity: .6;
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	transition: opacity 1s;
}
.fade:hover .floatleftcol a:hover  img {
	opacity: 1;
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	transition: opacity 1s;
}

.fade .floatleftcol span {
	display: block;
	position: relative;
	top: -40px;
	color: #f3f5f9;
	font-weight: 600;
	text-align: center;
	text-shadow: 3px 3px 4px #0b1d3f;
	font-size: 1.3em;
	line-height: 0;
}
.rowIndex {
	display: block;
	clear: both;
	padding: 1% 1% 0 1%;
	margin: 0;
	display:flex;		
    align-items:stretch;
	justify-content:space-around;
}

.floatleftcol{
	float: left;
	/*width: 25%;
	width: 33.3%;*/
	margin: 0 auto;
	padding: 0;
	text-align: center;
}
.columnR {margin-right: 0}
.columnL {margin-left: 0}

.floatleftcol a {
	text-decoration: none;
}
.floatleftcol img {
	width: 100%;
	max-width: 250px;
	-webkit-box-shadow: 3px 3px 6px #0b1d3f, -1px -1px #f3f5f9; 
	-moz-box-shadow: 3px 3px 6px #0b1d3f, -1px -1px #f3f5f9; 
	box-shadow: 3px 3px 6px #0b1d3f, -1px -1px #f3f5f9;
	-webkit-border-radius: 1.5em; 
	-moz-border-radius: 1.5em; 
	border-radius: 1.5em;
}
#rightcolumn ul {margin-top: .5em;
	margin-bottom: 0;}

/*footer info - top right bottom left*/


#footer {
	font-size: .75em; 
	color: #f3f5f9;
	border: 1px solid #2b55a9;
	background-color: #2b55a9;
	line-height:160%;
	height: auto;
	padding: 0;
	margin: 0;
	clear: both;
	-webkit-box-shadow: 2px 2px 4px #0b1d3f, -1px -1px #c8d3e8; 
	-moz-box-shadow: 2px 2px 4px #0b1d3f, -1px -1px #c8d3e8; 
	box-shadow: 2px 2px 4px #0b1d3f, -1px -1px #c8d3e8;
	-webkit-border-radius: .2em; 
	-moz-border-radius: .2em; 
	border-radius: .2em;
	min-height: 57px;
	font-weight: 300;
}
#footer a {padding-left: 5px;
	padding-right: 5px;
}
.footernav {
	text-align: center;
	padding: 10px;
	margin: 0;
}
.socialicon {
	background-color:#f3f5f9; 
	-webkit-border-radius: .3em; 
	-moz-border-radius: .3em; 
	border-radius: .3em;
	border: 1px solid #f3f5f9;
	width: 35px;
}
.footericon { 
	padding: 12px 20px 0 20px;
	margin: 0;
}
.footerinfo {
	padding: 10px 20px;
	margin: 0;
	text-align: center;
	float: left;
}


/*floats & margins*/
.homefloatright {
	float: right;
	padding: 0;
	border: 1px solid #c8d3e8;
	background-color: #a6c979; 
	background-image: url(images/indigo_bunting_blue_rounded.png), url(images/background-crystal1.gif);
	background-position: center center, right top;
	background-repeat: no-repeat, repeat;
	margin: 1em 0 1em 1em;
	-webkit-box-shadow: inset 2px 2px 4px #0b1d3f, inset -1px -1px #fff; 
	-moz-box-shadow: inset 2px 2px 4px #0b1d3f, inset -1px -1px #fff; 
	box-shadow: inset 2px 2px 4px #0b1d3f, inset -1px -1px #fff;
	-webkit-border-radius: 1.5em; 
	-moz-border-radius: 1.5em; 
	border-radius: 1.5em;
}
.homefloatright p {
	margin: 15px 15px 10px 15px;
	padding: 0;
}
.homefloatright img {
	width: 100%;
	max-width: 250px;
	margin: 0;
	padding: 0;
	-webkit-border-radius: 1.5em; 
	-moz-border-radius: 1.5em; 
	border-radius: 1.5em;
	-webkit-box-shadow: 2px 2px 4px #0b1d3f, -1px -1px #f3f5f9; 
	-moz-box-shadow: 2px 2px 4px #0b1d3f, -1px -1px #f3f5f9; 
	box-shadow: 2px 2px 4px #0b1d3f, -1px -1px #f3f5f9;
}
.homefloatright span {
	display: block;
	position: relative;
	top: -40px;
	color: #f3f5f9;
	font-weight: 600;
	text-align: center;
	text-shadow: 3px 3px 4px #0b1d3f;
	font-size: 1.3em;
	line-height: 0;
}
	
.text-center {text-align: center;}
.margin-center {
	margin-left: auto;
	margin-right: auto;
}
.floatright {float: right;}
.floatright1 {float: right;}
.floatleft {float: left;}
.marginleft {margin-left: 50%;}
.clearboth {clear: both;}
.smallmargin {margin-left: 30px;}
.centerspace  {margin-left: 35%;}
/*homefoat opacity animation*/




/*navigation info - top right bottom left*/
#navbackground {
	z-index: 6;
	/*background-color: #6384c1;*/
	background-color: #2b55a9;
	border-bottom: 1px solid #0b1d3f;
	position: fixed;
	width: 100%;
	height: 50px;
	-webkit-box-shadow: 0px 4px 10px #0b1d3f, inset 0px 5px 5px -5px #0b1d3f, inset 0px -5px 5px -5px #0b1d3f; 
	-moz-box-shadow: 0px 4px 10px #0b1d3f, inset 0px 5px 5px -5px #0b1d3f, inset 0px -5px 5px -5px #0b1d3f; 
	box-shadow: 0px 4px 10px #0b1d3f, inset 0px 5px 5px -5px #0b1d3f, inset 0px -5px 5px -5px #0b1d3f;
}
/*K icon*/
#icon {
	z-index: 9;
	margin: 0;
	padding: 3px 25px 2px 25px;
	float: left;
	position: fixed;
	text-decoration: none;
}
#icon a {
	text-decoration: none;
	border: 0;
}
#icon a img {
	-webkit-border-radius: .3em; 
	-moz-border-radius: .3em; 
	border-radius: .3em;
	border-style: none;
	border: 2px solid #0b1d3f;
}
#mobileNav {
	margin: 0;
	padding: 0;
	position: fixed;
	width: 95%;
	z-index: 8;
	margin: 15px auto 0 auto;
	min-width: 900px;
	max-width: 1130px;
	list-style-type: none;
	text-align: right;
}

/* CSS menu button */
button.menuBtn {
	display: none;
	border: 0;
	font-family: Poppins, sans-serif;
	font-weight: 500;
	background-color: transparent;
	height: 51px;
	width: 105px;
	margin: 0 24px 0 0;
	padding: 0;
	z-index: 9;
	position: fixed;
	right: 0;
	top: 0;
	border-style: none;
	font-size: 1.1em;
	line-height: 250%;
	color: #a6c979;
	text-shadow: -1px -1px #0b1d3f, 1px 1px #0b1d3f, 1px -1px #0b1d3f, -1px 1px #0b1d3f;
}
ul#nav {
	font-family: Poppins, sans-serif;
	font-weight: 500;
	line-height: 135%;
	/*text-shadow: -1px -1px #2b55a9, 1px 1px #2b55a9, 1px -1px #2b55a9, -1px 1px #2b55a9;*/
	text-shadow: -1px -1px #0b1d3f, 1px 1px #0b1d3f, 1px -1px #0b1d3f, -1px 1px #0b1d3f;
	padding: 0;
	position: relative;
}
#nav li {
	display: inline; 
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul#nav li a {
	text-decoration: none;
	color: #f3f5f9;
	margin: 0;
	padding: 15px;
	height: 20px;
	line-height: 130%;
}
ul#nav li a small{
	margin-right: 10px;
}
ul#nav li ul.dropdown {
	height: auto;
	width: 180px;
	z-index: 5;
	text-align: left;
	font-size: .9em;
	text-shadow: -1px -1px #0b1d3f, 1px 1px #0b1d3f, 1px -1px #0b1d3f, -1px 1px #0b1d3f;
	display: none;
	margin: 0;
	padding: 0;
	background-color: #6384c1;
	-webkit-box-shadow: 2px 2px 10px 1px #0b1d3f; 
	-moz-box-shadow: 2px 2px 10px 1px #0b1d3f; 
	box-shadow: 2px 2px 10px 1px #0b1d3f;
	-webkit-border-radius: 0 0 .2em .2em; 
	-moz-border-radius: 0 0 .2em .2em; 
	border-radius: 0 0 .2em .2em;
	text-align: right;
}
ul#nav li ul.dropdown li {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: block;

}
ul#nav li ul.dropdown a {
	color: #f3f5f9;
	margin: 0;
	padding: 10px 10px 10px 10px;
	text-decoration: none;
	height: auto;
	display: block;	
	height: 40px;
}

.ddtitle1 {
	border-top: 1px solid #2b55a9;
}
.ddtitle2 {
	border-top: 1px solid #2b55a9;
}
.bottomddb {
	border-bottom: 1px solid #2b55a9;
}
.topddb {
	border-top: 1px solid #2b55a9;
}
ul#nav li:hover ul.dropdown {
	display: block;
	position: absolute;
	top: 36px;
	right: 0px;
}

ul#nav li ul.dropdown ul.dropdown3 li.topddb, ul#nav li ul.dropdown ul.dropdown4 li.topddb{
	border-top: 1px solid #6384c1;
}
ul#nav li ul.dropdown ul.dropdown2 li.bottomddb, ul#nav li ul.dropdown ul.dropdown3 li.bottomddb, ul#nav li ul.dropdown ul.dropdown4 li.bottomddb{
	border-bottom: 1px solid #6384c1;
}
ul#nav li ul.dropdown ul.dropdown2, ul#nav li ul.dropdown ul.dropdown3, ul#nav li ul.dropdown ul.dropdown4 {
	text-shadow: -1px -1px #2b55a9, 1px 1px #2b55a9, 1px -1px #2b55a9, -1px 1px #2b55a9;
	margin: 0;
	padding: 0;
	display: none;
	background-color: #c8d3e8;
	-webkit-box-shadow: -2px 2px 5px -2px #0b1d3f;
	-moz-box-shadow: -2px 2px 5px -2px #0b1d3f;
	box-shadow: -2px 2px 5px -2px #0b1d3f;
	-webkit-border-radius: .4em 0 .4em .4em; 
	-moz-border-radius: .4em 0 .4em .4em; 
	border-radius: .4em 0 .4em .4em;
	z-index: 4;
	border-left: 1px solid #6384c1;
	border-right: 1px solid #6384c1;
	border-bottom: 1px solid #6384c1;
	width: 180px;
}
ul#nav li ul.dropdown ul.dropdown2 li, ul#nav li ul.dropdown ul.dropdown3 li, ul#nav li ul.dropdown ul.dropdown4 li {
	margin: 0;
	padding: 0;
	display: block;
}

ul#nav li ul.dropdown ul.dropdown2 a , ul#nav li ul.dropdown ul.dropdown3 a, ul#nav li ul.dropdown ul.dropdown4 a {
	color: #2b55a9;
	margin: 0;
	padding: 10px;
	display: block;
}

ul#nav ul.dropdown li:hover ul.dropdown2 {
	text-shadow: -1px -1px #c8d3e8, 1px 1px #c8d3e8, 1px -1px #c8d3e8, -1px 1px #c8d3e8;
	margin: 0;
	padding: 0;
	display: block;
	position: absolute;
	left: -181px;
	top: 0;
}
ul#nav ul.dropdown li:hover ul.dropdown3{
	text-shadow: -1px -1px #c8d3e8, 1px 1px #c8d3e8, 1px -1px #c8d3e8, -1px 1px #c8d3e8;
	margin: 0;
	padding: 0;
	display: block;
	position: absolute;
	left: -181px;
	top: 60px;
}
ul#nav ul.dropdown li:hover ul.dropdown4{
	text-shadow: -1px -1px #c8d3e8, 1px 1px #c8d3e8, 1px -1px #c8d3e8, -1px 1px #c8d3e8;
	margin: 0;
	padding: 0;
	display: block;
	position: absolute;
	left: -181px;
	top: 121px;
}
.ddinnershadowtop {
	-webkit-box-shadow: inset -5px 5px 5px -5px #0b1d3f;
	-moz-box-shadow: inset -5px 5px 5px -5px #0b1d3f; 
	box-shadow: inset -5px 5px 5px -5px #0b1d3f;
	border-left: 0px solid #2b55a9;
	border-right: 1px solid #2b55a9;
	-webkit-border-radius: .4em 0 0 0; 
	-moz-border-radius: .4em 0 0 0; 
	border-radius: .4em 0 0 0;
}
.ddinnershadow {
	-webkit-box-shadow: inset -5px 0px 5px -5px #0b1d3f;
	-moz-box-shadow: inset -5px 0px 5px -5px #0b1d3f; 
	box-shadow: inset -5px 0px 5px -5px #0b1d3f;
	border-left: 0px solid #2b55a9;
	border-right: 1px solid #2b55a9;
	-webkit-border-radius: .4em 0 0 0; 
	-moz-border-radius: .4em 0 0 0; 
	border-radius: .4em 0 0 0;
}

.arrowLeft {display: none;
	float: left;}
.arrowDown {display: none;
	float: right;
	color: #f3f5f9;}
.arrowDownL {display: inline;
	float: left;
	color: #f3f5f9;}
.arrowRight {display: none;
	float: right;}
ul#nav ul.dropdown li:hover .arrowDown {display: none;}
ul#nav ul.dropdown li:hover .arrowRight{display: none;}
ul#nav ul.dropdown li:hover .arrowDownL {display: none;}
ul#nav ul.dropdown li:hover .arrowLeft{display: inline;}


	
.hide {
	display: none;
}

/*IE 5 & 6 - compatibility*/
#nav {position: absolute;}
*>#nav {position: fixed;}
	


/*Image gallery settings*/
#gallery {
	z-index: 1;
	padding: 1em 0 0 0;
	margin: 0;
	position: relative;
	height: 78em;
}
#gallery  ul {width: 100px;
	padding: 0;
	margin: 0;
	list-style-type: none;}
#gallery  li {display: block;
	padding: 0;
	margin: 0;}
#gallery span {display: none;}
#gallery a:hover span {padding: 1em 0 0 0;
	margin: 0;
	display: block;
	position: absolute;
	top: 0px;
	left: 100px;
	text-align: center;
	color: #0b1d3f;
	font-style: normal;
	text-decoration: none;}
#gallery img {width: 99%;
	border: 0;}


/*animated GIFS*/
figure {
	margin: 1em;
	padding: 0;
}
.allAnimations {
	display: block;
	border: 1px solid #c8d3e8;
	background-color: #a6c979; 
	background-image: url(images/background-crystal1.gif);
	background-repeat: repeat;
	margin: 1em 0 0 0;
	padding: 0;
	-webkit-box-shadow: inset 2px 2px 4px #0b1d3f, inset -1px -1px #fff; 
	-moz-box-shadow: inset 2px 2px 4px #0b1d3f, inset -1px -1px #fff; 
	box-shadow: inset 2px 2px 4px #0b1d3f, inset -1px -1px #fff;
	-webkit-border-radius: .7em; 
	-moz-border-radius: .7em; 
	border-radius: .7em;
	width: 100%;
}
.row {
	display: block;
	clear: both;
	padding: 1% 1% 0 1%;
	margin: 0;
	display:flex;		
    align-items:stretch;
	justify-content:space-around;
}

.row img {max-width: 100%;}
.bottomRow {
	clear: both;
	display: block;
	width: 100%;
	padding: 1% 0 0 0;
	margin: 0;
}
.floatleftanimations {float: left;
	display: block;
	width: 49%;
	margin: 0 0 0 0;
	border: 1px solid #fff;
	padding: 0;
	/*background-color: #f3f5f9;*/
	background-color: #fff;
	-webkit-box-shadow: 2px 2px 4px #0b1d3f, -1px -1px #c8d3e8; 
	-moz-box-shadow: 2px 2px 4px #0b1d3f, -1px -1px #c8d3e8; 
	box-shadow: 2px 2px 4px #0b1d3f, -1px -1px #c8d3e8;
	-webkit-border-radius: .7em; 
	-moz-border-radius: .7em; 
	border-radius: .7em;
}
.floatrightanimations {float: right;
	display: block;
	width: 49%;
	margin: 0 0 0 0;
	border: 1px solid #fff;
	padding: 0;
	/*background-color: #f3f5f9;*/
	background-color: #fff;
	-webkit-box-shadow: 2px 2px 4px #0b1d3f, -1px -1px #c8d3e8; 
	-moz-box-shadow: 2px 2px 4px #0b1d3f, -1px -1px #c8d3e8; 
	box-shadow: 2px 2px 4px #0b1d3f, -1px -1px #c8d3e8;
	-webkit-border-radius: .7em; 
	-moz-border-radius: .7em; 
	border-radius: .7em;
}
.singleanimation {margin-left: 0;
	margin: 0;}
	
	
/*******Canvas Elements********/
.canvasBox {
	display: block;
	width: 98%;
	margin: 1% auto 1% auto;
	border: 1px solid #c8d3e8;
	padding: 10px 0;
	background-color: #f3f5f9;
	-webkit-box-shadow: 2px 2px 4px #0b1d3f, -1px -1px #c8d3e8; 
	-moz-box-shadow: 2px 2px 4px #0b1d3f, -1px -1px #c8d3e8; 
	box-shadow: 2px 2px 4px #0b1d3f, -1px -1px #c8d3e8;
	-webkit-border-radius: .7em; 
	-moz-border-radius: .7em; 
	border-radius: .7em;
}
.floatleftCSS {float: left;
	display: block;
	width: 49%;
	margin: 0 0 0 0;
	border: 1px solid #fff;
	padding: 0;
	-webkit-box-shadow: 2px 2px 4px #0b1d3f, -1px -1px #c8d3e8; 
	-moz-box-shadow: 2px 2px 4px #0b1d3f, -1px -1px #c8d3e8; 
	box-shadow: 2px 2px 4px #0b1d3f, -1px -1px #c8d3e8;
	-webkit-border-radius: .7em; 
	-moz-border-radius: .7em; 
	border-radius: .7em;
	/*background-color: #f3f5f9;*/
	background-color: #fff;
}
.floatrightCss {float: right;
	display: block;
	width: 49%;
	margin: 0 0 0 0;
	border: 1px solid #fff;
	padding: 0;
	-webkit-box-shadow: 2px 2px 4px #0b1d3f, -1px -1px #c8d3e8; 
	-moz-box-shadow: 2px 2px 4px #0b1d3f, -1px -1px #c8d3e8; 
	box-shadow: 2px 2px 4px #0b1d3f, -1px -1px #c8d3e8;
	-webkit-border-radius: .7em; 
	-moz-border-radius: .7em; 
	border-radius: .7em;
	/*background-color: #f3f5f9;*/
	background-color: #fff;
}
.CSSMargin {
	padding: 30px;
	vertical-align: middle;
}
.CSSMargin2 {
	padding: 30px;
	vertical-align: middle;
	height: 70px;
}
/*******CSS shapes********/


/***homefloat animation***/
.homefloatright p {
	opacity: 1;
	-webkit-transition: opacity 2s;
	-moz-transition: opacity 2s;
	transition: opacity 2s;
}
/*CSS animations*/
.homefloatright p:focus {
    -webkit-animation: myOpacity 5s 1; /* Chrome, Safari, Opera */
    animation: myOpacity 10s 1;
}
.homefloatright p:hover {
    -webkit-animation: myOpacity 5s 1; /* Chrome, Safari, Opera */
    animation: myOpacity 10s 1;
}
.homefloatright p:active {
    -webkit-animation: myOpacity 5s 1; /* Chrome, Safari, Opera */
    animation: myOpacity 10s 1;
}
	/* Chrome, Safari, Opera */
@-webkit-keyframes myOpacity {
    50% {opacity: 0;}
}
	/* Standard syntax */
@keyframes myOpacity {
    50% {opacity: 0;}
}
/***Parallelogram course work page***/
.shapeParallelogram {
	display: block;
	width: 75px;
	height: 50px;
	margin: 0 47px 0 0;
	padding: 0;
	background-color: #2b55a9;
	-webkit-box-shadow: 2px 2px 4px #0b1d3f, -1px -1px #fff; 
	-moz-box-shadow: 2px 2px 4px #0b1d3f, -1px -1px #fff; 
	box-shadow: 2px 2px 4px #0b1d3f, -1px -1px #fff;
	-webkit-border-radius: .2em; 
	-moz-border-radius: .2em; 
	border-radius: .2em;
	-webkit-transform: skew(15deg); 
	-moz-transform: skew(15deg); 
	-ms-transform: skew(15deg); 
	-o-transform: skew(15deg);
	transform: skew(15deg);
	-webkit-transition: transform 2s, margin 2s;
	-moz-transition: transform 2s, margin 2s;
	-ms-transition: transform 2s, margin 2s;
	-o-transition: transform 2s, margin 2s;
	transition: transform 2s, margin 2s;
}
/*CSS animations*/
div.shapeParallelogram:hover {
	margin: 20px 37px 0 0;
	-webkit-transform: skew(-15deg); 
	-moz-transform: skew(-15deg); 
	-o-transform: skew(-15deg);
	transform: skew(-15deg);
	-webkit-transition: transform 2s, margin 2s;
	-moz-transition: transform 2s, margin 2s;
	-o-transition: transform 2s, margin 2s;
	transition: transform 2s, margin 2s;
}
/***END Parallelogram course work page***/
/***Parallelogram shapes page***/
.shapeParallelogram1 {
	display: block;
	width: 75px;
	height: 50px;
	margin: 0 auto 0 auto;
	padding: 0;
	background-color: #2b55a9;
	-webkit-box-shadow: 2px 2px 4px #0b1d3f, -1px -1px #fff; 
	-moz-box-shadow: 2px 2px 4px #0b1d3f, -1px -1px #fff; 
	box-shadow: 2px 2px 4px #0b1d3f, -1px -1px #fff;
	-webkit-border-radius: .2em; 
	-moz-border-radius: .2em; 
	border-radius: .2em;
	-webkit-transform: skew(15deg); 
	-moz-transform: skew(15deg); 
	-ms-transform: skew(15deg); 
	-o-transform: skew(15deg);
	transform: skew(15deg);
	-webkit-transition: transform 2s, margin 2s;
	-moz-transition: transform 2s, margin 2s;
	-ms-transition: transform 2s, margin 2s;
	-o-transition: transform 2s, margin 2s;
	transition: transform 2s, margin 2s;
}
/*CSS animations*/
div.shapeParallelogram1 {
	-webkit-animation: myParallelogram 5s infinite; /* Chrome, Safari, Opera */
    animation: myParallelogram 5s infinite;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes myParallelogram {
    50% {-webkit-transform: skew(-15deg); 
		-moz-transform: skew(-15deg); 
		-o-transform: skew(-15deg);
		margin-top: 20px;}
}

/* Standard syntax */
@keyframes myParallelogram {
    50% {-moz-transform: skew(-15deg); 
		-o-transform: skew(-15deg);
		transform: skew(-15deg);
		margin-top: 20px;}
}
/***END Parallelogram shapes page***/


/***diamond shapes page***/
.diamondBox {
	display: block;
	width: 200px;
	height: auto;
	margin:  0 auto 0 auto;
	padding: 0 0 0 0px;
	vertical-align: middle;
}
.diamond {
	display: block;
	width: 50px;
	height: 50px;
	margin: 0 0 0 0;
	padding: 0;
	background-color: #a6c979;
	-webkit-box-shadow: 2px 2px 4px #0b1d3f, -1px -1px #fff; 
	-moz-box-shadow: 2px 2px 4px #0b1d3f, -1px -1px #fff; 
	box-shadow: 2px 2px 4px #0b1d3f, -1px -1px #fff;
	-webkit-border-radius: .2em; 
	-moz-border-radius: .2em; 
	border-radius: .2em;
	-webkit-transform: rotate(45deg); 
	-moz-transform: rotate(45deg); 
	-ms-transform: rotate(45deg); 
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transform-origin: 75% 100% 0; 
	-moz-transform-origin: 75% 100% 0; 
	-o-transform-origin: 75% 100% 0;
	transform-origin: 75% 100% 0;
	-webkit-transition: transform 2s, transform-origin 2s;
	-moz-transition: transform 2s, transform-origin 2s;
	-ms-transition: transform 2s, transform-origin 2s;
	-o-transition: transform 2s, transform-origin 2s;
	transition: transform 2s, transform-origin 2s;
}
/*CSS animations*/
div.diamondBox div.diamond {
	-webkit-animation: myDiamond 5s infinite; /* Chrome, Safari, Opera */
    animation: myDiamond 5s infinite;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes myDiamond {
    50% {-webkit-transform-origin: 0 -90% 0; 
		-moz-transform-origin: 0 -90% 0; 
		-o-transform-origin: 0 -90% 0;}
}

/* Standard syntax */
@keyframes myDiamond {
    50% {-moz-transform-origin: 0 -90% 0; 
		-o-transform-origin: 0 -90% 0;
		transform-origin: 0 -90% 0;}
}
/***END diamond shapes page***/



/***square course page***/
.squareBox {
	display: block;
	width: 50px;
	height: 50px;
	margin: 0 60px 0 0;
	padding: 0;
	-webkit-transform-style: preserve-3d;
}
.shapeSquare {
	display: block;
	width: 50px;
	height: 50px;
	margin: 0 0 0 0;
	padding: 0;
	background-color: #a6c979;
	-webkit-box-shadow: 2px 2px 4px #0b1d3f, -1px -1px #fff; 
	-moz-box-shadow: 2px 2px 4px #0b1d3f, -1px -1px #fff; 
	box-shadow: 2px 2px 4px #0b1d3f, -1px -1px #fff;
	-webkit-border-radius: .2em; 
	-moz-border-radius: .2em; 
	border-radius: .2em;
	-webkit-transition: transform 2s, background-color 2s;
	-moz-transition: transform 2s, background-color 2s;
	-o-transition: transform 2s, background-color 2s;
	transition: transform 2s, background-color 2s;
}
/*CSS animations*/
div.squareBox:hover span {
    -webkit-transform: scale(.5,.5); 
	-moz-transform: scale(.5,.5); 
	-0-transform: scale(.5,.5); 
	transform: scale(.5,.5); 
	background-color: #2b55a9;
	-webkit-transition: transform 2s, background-color 2s;
	-moz-transition: transform 2s, background-color 2s;
	-o-transition: transform 2s, background-color 2s;
	transition: transform 2s, background-color 2s;
}
/***END square course page***/
/***square shape page***/
.squareBox1 {
	display: block;
	width: 50px;
	height: 50px;
	margin: 0 auto 0 auto;
	padding: 0;
	-webkit-transform-style: preserve-3d;
}
.shapeSquare1 {
	display: block;
	width: 50px;
	height: 50px;
	margin: 0 0 0 0;
	padding: 0;
	background-color: #a6c979;
	-webkit-box-shadow: 2px 2px 4px #0b1d3f, -1px -1px #fff; 
	-moz-box-shadow: 2px 2px 4px #0b1d3f, -1px -1px #fff; 
	box-shadow: 2px 2px 4px #0b1d3f, -1px -1px #fff;
	-webkit-border-radius: .2em; 
	-moz-border-radius: .2em; 
	border-radius: .2em;
	-webkit-transition: transform 2s, background-color 2s;
	-moz-transition: transform 2s, background-color 2s;
	-o-transition: transform 2s, background-color 2s;
	transition: transform 2s, background-color 2s;
}
/*CSS animations*/
div.squareBox1 span {
    -webkit-animation: myBackgroundScale 5s infinite; /* Chrome, Safari, Opera */
    animation: myBackgroundScale 5s infinite;
}
/* Code for Chrome, Safari and Opera */
@-webkit-keyframes myBackgroundScale {
    50% {-webkit-transform: scale(.5,.5); 
		-moz-transform: scale(.5,.5); 
		-0-transform: scale(.5,.5); 
		background-color: #2b55a9;}
}
/* Standard syntax */
@keyframes myBackgroundScale {
    50% {transform: scale(.5,.5); 
		-moz-transform: scale(.5,.5); 
		-0-transform: scale(.5,.5); 
		background-color: #2b55a9;}
}
/***END square shape page***/


/*** Triangle shape ***/
.triangleBox {
	display: block;
	width: 50px;
	height: 50px;
	margin: 0 auto 0 auto;
	padding: 0;
	-webkit-transform-style: preserve-3d;
}
.shapeTriangle {
	display: block;
	margin: 0 0 0 0;
	padding: 0;
	font-size: 60px;
	text-align: center;
	color: #2b55a9;
	text-shadow: 2px 2px 4px #0b1d3f, -1px -1px #fff;
	position: relative;
	top: 20px;
	-webkit-transform-style: preserve-3d;
}
/*CSS animations*/
div.triangleBox span {
    -webkit-animation: myColorScale 5s infinite; /* Chrome, Safari, Opera */
    animation: myColorScale 5s infinite;
}
/* Code for Chrome, Safari and Opera */
@-webkit-keyframes myColorScale {
    50% {-webkit-transform: scale(2,2); color: #0b1d3f;}
}
/* Standard syntax */
@keyframes myColorScale {
    50% {transform: scale(2,2); color: #0b1d3f;}
}
/*** END Triangle shape ***/

/***oval to square course page***/
.shapeMisc{
	display: block;
	width: 100px;
	height: 50px;
	margin: 0 35px 0 0;
	padding: 0;
	background-color: #6384c1;
	-webkit-box-shadow: 2px 2px 4px #0b1d3f, -1px -1px #fff; 
	-moz-box-shadow: 2px 2px 4px #0b1d3f, -1px -1px #fff; 
	box-shadow: 2px 2px 4px #0b1d3f, -1px -1px #fff;
	-webkit-border-radius: 100px / 50px; 
	-moz-border-radius: 100px / 50px;
	border-radius: 100px / 50px;
	-webkit-transition: border-radius 2s, background-color 2s, box-shadow 2s;
	-moz-transition: border-radius 2s, background-color 2s, box-shadow 2s;
	-o-transition: border-radius 2s, background-color 2s, box-shadow 2s;
	transition: border-radius 2s, background-color 2s, box-shadow 2s;
}
/*CSS animations*/
div.shapeMisc:hover {
	-webkit-border-radius: 0; 
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: 0px 0px 4px 10px #a6c979;
	-moz-box-shadow: 0px 0px 4px 10px #a6c979;
	box-shadow: 0px 0px 4px 10px #a6c979;
	background-color: #2b55a9;
	-webkit-transition: border-radius 2s, background-color 2s, box-shadow 2s;
	-moz-transition: border-radius 2s, background-color 2s, box-shadow 2s;
	-o-transition: border-radius 2s, background-color 2s, box-shadow 2s;
	transition: border-radius 2s, background-color 2s, box-shadow 2s;
}
/***END oval to square course page***/
/***oval to square shapes page***/
.shapeMisc2{
	display: block;
	width: 100px;
	height: 50px;
	margin: 0 auto 0 auto;
	padding: 0;
	background-color: #6384c1;
	-webkit-box-shadow: 2px 2px 4px #0b1d3f, -1px -1px #fff; 
	-moz-box-shadow: 2px 2px 4px #0b1d3f, -1px -1px #fff; 
	box-shadow: 2px 2px 4px #0b1d3f, -1px -1px #fff;
	-webkit-border-radius: 100px / 50px; 
	-moz-border-radius: 100px / 50px;
	border-radius: 100px / 50px;
	-webkit-transition: border-radius 2s, background-color 2s, box-shadow 2s;
	-moz-transition: border-radius 2s, background-color 2s, box-shadow 2s;
	-o-transition: border-radius 2s, background-color 2s, box-shadow 2s;
	transition: border-radius 2s, background-color 2s, box-shadow 2s;
}
/*CSS animations*/
div.shapeMisc2 {
    -webkit-animation: myRadius 5s infinite; /* Chrome, Safari, Opera */
    animation: myRadius 5s infinite;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes myRadius {
    50% {border-top-left-radius: 0;
		border-top-right-radius: 0; 
		border-bottom-left-radius: 0; 
		border-bottom-right-radius: 0;
		-webkit-box-shadow: 0px 0px 4px 10px #a6c979;
		box-shadow: 0px 0px 4px 10px #a6c979;
		background-color: #2b55a9;}
}
/* Standard syntax */
@keyframes myRadius {
    50% {border-top-left-radius: 0; 
		border-top-right-radius: 0; 
		border-bottom-left-radius: 0; 
		border-bottom-right-radius: 0;
		box-shadow: 0px 0px 4px 10px #a6c979;
		background-color: #2b55a9;}
}
/***END oval to square shapes page***/
/***Circle course page***/
.shapeCircleOutside {
	display: block;
	width: 75px;
	height: 75px;
	margin: 0 47px 0 0;
	padding: 0;
	-webkit-box-shadow: 2px 2px 4px #0b1d3f, -1px -1px #fff; 
	-moz-box-shadow: 2px 2px 4px #0b1d3f, -1px -1px #fff; 
	box-shadow: 2px 2px 4px #0b1d3f, -1px -1px #fff;
	-webkit-border-radius: 40px; 
	-moz-border-radius: 40px; 
	border-radius: 40px;
	-webkit-transform-style: preserve-3d;
}
.shapeCircle {
	display: block;
	width: 73px;
	height: 73px;
	margin: 0 0 0 0;
	border: 1px solid #6384c1;
	padding: 0;
	background-color: #a6c979; 
	background-image: url(images/background-crystal1.gif);
	background-repeat: repeat;
	-webkit-border-radius: 40px; 
	-moz-border-radius: 40px; 
	border-radius: 40px;
	-webkit-transform-style: preserve-3d;
	-webkit-transition: transform 2s;
	-moz-transition: transform 2s;
	-o-transition: transform 2s;
	transition: transform 2s;
}
/*CSS animations*/

div.shapeCircle:hover {
    -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
	-moz-transform: rotate(360deg);
	-ms-transform: rotate(360deg); /* IE 9 */
    transform: rotate(360deg);
	-webkit-transition: transform 2s;
	-moz-transition: transform 2s;
	-o-transition: transform 2s;
	transition: transform 2s;
}
/***End Circle course page***/
/***Circle shapes page***/
.shapeCircleOutside1 {
	display: block;
	width: 75px;
	height: 75px;
	margin: 0 auto 0 auto;
	padding: 0;
	-webkit-box-shadow: 2px 2px 4px #0b1d3f, -1px -1px #fff; 
	-moz-box-shadow: 2px 2px 4px #0b1d3f, -1px -1px #fff; 
	box-shadow: 2px 2px 4px #0b1d3f, -1px -1px #fff;
	-webkit-border-radius: 40px; 
	-moz-border-radius: 40px; 
	border-radius: 40px;
	-webkit-transform-style: preserve-3d;
}
.shapeCircle1 {
	display: block;
	width: 73px;
	height: 73px;
	margin: 0 0 0 0;
	border: 1px solid #6384c1;
	padding: 0;
	background-color: #a6c979; 
	background-image: url(images/background-crystal1.gif);
	background-repeat: repeat;
	-webkit-border-radius: 40px; 
	-moz-border-radius: 40px; 
	border-radius: 40px;
	-webkit-transform-style: preserve-3d;
	-webkit-transition: transform 2s;
	-moz-transition: transform 2s;
	-o-transition: transform 2s;
	transition: transform 2s;
}
/*CSS animations*/
div.shapeCircle1 {
    -webkit-animation: myRotate 5s linear infinite; /* Chrome, Safari, Opera */
    animation: myRotate 5s linear infinite;
}
	/* Chrome, Safari, Opera */
@-webkit-keyframes myRotate {
    100% {-webkit-transform: rotate(720deg);}
}
	/* Standard syntax */
@keyframes myRotate {
    100% {transform: rotate(720deg);}
}
/***End Circle shapes page***/

/***Square inside square course page***/
.shapeBigSquareOutSide {
	display: block;
	width: 100px;
	height: 100px;
	margin: 0 35px;
	padding: 0;
	background-color: #2b55a9;
	-webkit-box-shadow: 2px 2px 4px #0b1d3f; 
	-moz-box-shadow: 2px 2px 4px #0b1d3f; 
	box-shadow: 2px 2px 4px #0b1d3f; 
	-webkit-border-radius: .2em; 
	-moz-border-radius: .2em; 
	border-radius: .2em;
	-webkit-transform-style: preserve-3d;
	-webkit-transition: transform 2s;
	-moz-transition: transform 2s;
	-o-transition: transform 2s;
	transition: transform 2s;
}
.shapeSquareRotated {
	display: block;
	width: 100px;
	height: 100px;
	margin: 0 0 0 0;
	border: 1px solid #6384c1;
	padding: 0;
	background-color: #a6c979; 
	background-image: url(images/background-crystal1.gif);
	background-repeat: repeat;
	-webkit-box-shadow: 2px 2px 4px #0b1d3f; 
	-moz-box-shadow: 2px 2px 4px #0b1d3f;  
	box-shadow: 2px 2px 4px #0b1d3f; 
	-webkit-border-radius: .2em; 
	-moz-border-radius: .2em; 
	border-radius: .2em;
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg); /* IE 9 */
    transform: rotate(45deg);
	-webkit-transform-style: preserve-3d;
	-webkit-transition: transform 2s;
	-moz-transition: transform 2s;
	-o-transition: transform 2s;
	transition: transform 2s;
}
/*CSS animations*/
div.shapeBigSquareOutSide:hover  div.shapeSquareRotated {
    -webkit-transform: rotate(675deg); /* Chrome, Safari, Opera */
	-moz-transform: rotate(675deg);
	-ms-transform: rotate(675deg); /* IE 9 */
    transform: rotate(675deg);
}	

div.shapeBigSquareOutSide:hover {
    -webkit-transform: rotate(-360deg); /* Chrome, Safari, Opera */
	-moz-transform: rotate(-360deg);
	-ms-transform: rotate(-360deg); /* IE 9 */
    transform: rotate(-360deg);
}
/*** END Square inside square course page ***/
/***Square inside square shapes page***/
.shapeBigSquareOutSide1 {
	display: block;
	width: 100px;
	height: 100px;
	margin: 0 auto;
	padding: 0;
	background-color: #2b55a9;
	-webkit-box-shadow: 2px 2px 4px #0b1d3f; 
	-moz-box-shadow: 2px 2px 4px #0b1d3f; 
	box-shadow: 2px 2px 4px #0b1d3f; 
	-webkit-border-radius: .2em; 
	-moz-border-radius: .2em; 
	border-radius: .2em;
	-webkit-transform-style: preserve-3d;
	-webkit-transition: transform 2s;
	-moz-transition: transform 2s;
	-o-transition: transform 2s;
	transition: transform 2s;
	z-index: 4;
}
.shapeSquareRotated1 {
	display: block;
	width: 100px;
	height: 100px;
	margin: 0 0 0 0;
	border: 1px solid #6384c1;
	padding: 0;
	background-color: #a6c979; 
	background-image: url(images/background-crystal1.gif);
	background-repeat: repeat;
	-webkit-box-shadow: 2px 2px 4px #0b1d3f; 
	-moz-box-shadow: 2px 2px 4px #0b1d3f;  
	box-shadow: 2px 2px 4px #0b1d3f; 
	-webkit-border-radius: .2em; 
	-moz-border-radius: .2em; 
	border-radius: .2em;
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg); /* IE 9 */
    transform: rotate(45deg);
	-webkit-transform-style: preserve-3d;
	-webkit-transition: transform 2s;
	-moz-transition: transform 2s;
	-o-transition: transform 2s;
	transition: transform 2s;
	z-index: 5;
}
/*CSS animations*/
div.shapeBigSquareOutSide1 div.shapeSquareRotated1 {
    -webkit-animation: myForgroundRotate 5s infinite; /* Chrome, Safari, Opera */
    animation: myForgroundRotate 5s infinite;
}	

div.shapeBigSquareOutSide1 {
    -webkit-animation: myBackgroundRotate 5s infinite; /* Chrome, Safari, Opera */
    animation: myBackgroundRotate 5s infinite;
}
/* Code for Chrome, Safari and Opera */
@-webkit-keyframes myForgroundRotate {
    50% {-webkit-transform: rotate(675deg);
		-moz-transform: rotate(675deg);
		-ms-transform: rotate(675deg); /* IE 9 */}
}
/* Standard syntax */
@keyframes myForgroundRotate {
    50% {transform: rotate(675deg);
		-moz-transform: rotate(675deg);
		-ms-transform: rotate(675deg); /* IE 9 */}
}
/* Code for Chrome, Safari and Opera */
@-webkit-keyframes myBackgroundRotate {
    50% {-webkit-transform: rotate(-360deg);
		-moz-transform: rotate(-360deg);
		-ms-transform: rotate(-360deg); /* IE 9 */}
}
/* Standard syntax */
@keyframes myBackgroundRotate {
    50% {transform: rotate(-360deg);
		-moz-transform: rotate(-360deg);
		-ms-transform: rotate(-360deg); /* IE 9 */}
}
/*** END Square inside square shapes page ***/

/***Square border course page***/
.borderBox {
	display: block;
	width: 100px;
	height: 100px;
	margin: 0 35px;
	padding: 0;
	-webkit-transform-style: preserve-3d;
	z-index: 4;
}
.shapeBorder {
	display: block;
	width: 50px;
	height: 50px;
	margin: 0 0 0 0;
	border: 25px groove #2b55a9;
	padding: 0;
	-webkit-box-shadow: 2px 2px 4px #0b1d3f, -1px -1px #fff, inset 2px 2px 4px #0b1d3f, inset -1px -1px #fff; 
	-moz-box-shadow: 2px 2px 4px #0b1d3f, -1px -1px #fff, inset 2px 2px 4px #0b1d3f, inset -1px -1px #fff; 
	box-shadow: 2px 2px 4px #0b1d3f, -1px -1px #fff, inset 2px 2px 4px #0b1d3f, inset -1px -1px #fff; 
	-webkit-border-radius: .2em; 
	-moz-border-radius: .2em; 
	border-radius: .2em;
	-webkit-transition: transform 2s, box-shadow 2s;
	-moz-transition: transform 2s, box-shadow 2s;
	-o-transition: transform 2s, box-shadow 2s;
	transition: transform 2s, box-shadow 2s;
	z-index: 5;
}
/*CSS animations*/
div.borderBox:hover span {
	-webkit-box-shadow: -2px 2px 4px #0b1d3f, 1px -1px #fff, inset -2px 2px 4px #0b1d3f, inset 1px -1px #fff; 
	-moz-box-shadow: -2px 2px 4px #0b1d3f, 1px -1px #fff, inset -2px 2px 4px #0b1d3f, inset 1px -1px #fff;  
	box-shadow: -2px 2px 4px #0b1d3f, 1px -1px #fff, inset -2px 2px 4px #0b1d3f, inset 1px -1px #fff; 
    -webkit-transform: rotateY(180deg); 
	-moz-transform: rotateY(180deg); 
	-0-transform: rotateY(180deg); 
	transform: rotateY(180deg); 
	-webkit-transition: transform 2s, box-shadow 2s;
	-moz-transition: transform 2s, box-shadow 2s;
	-o-transition: transform 2s, box-shadow 2s;
	transition: transform 2s, box-shadow 2s;
}
/***END Square border course page***/
/***Square border shapes page***/
.borderBox1 {
	display: block;
	width: 100px;
	height: 100px;
	margin: 0 auto;
	padding: 0;
	-webkit-transform-style: preserve-3d;
}
.shapeBorder1 {
	display: block;
	width: 50px;
	height: 50px;
	margin: 0 0 0 0;
	border: 25px groove #2b55a9;
	padding: 0;
	-webkit-box-shadow: 2px 2px 4px #0b1d3f, -1px -1px #fff, inset 2px 2px 4px #0b1d3f, inset -1px -1px #fff; 
	-moz-box-shadow: 2px 2px 4px #0b1d3f, -1px -1px #fff, inset 2px 2px 4px #0b1d3f, inset -1px -1px #fff; 
	box-shadow: 2px 2px 4px #0b1d3f, -1px -1px #fff, inset 2px 2px 4px #0b1d3f, inset -1px -1px #fff; 
	-webkit-border-radius: .2em; 
	-moz-border-radius: .2em; 
	border-radius: .2em;
	-webkit-transition: transform 2s, box-shadow 2s;
	-moz-transition: transform 2s, box-shadow 2s;
	-o-transition: transform 2s, box-shadow 2s;
	transition: transform 2s, box-shadow 2s;
}
/*CSS animations*/
div.borderBox1 span {
    -webkit-animation: myBorderBox 5s infinite; /* Chrome, Safari, Opera */
    animation: myBorderBox 5s infinite;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes myBorderBox {
	50% {-webkit-box-shadow: -2px 2px 4px #0b1d3f, 1px -1px #fff, inset -2px 2px 4px #0b1d3f, inset 1px -1px #fff; 
	-moz-box-shadow: -2px 2px 4px #0b1d3f, 1px -1px #fff, inset -2px 2px 4px #0b1d3f, inset 1px -1px #fff; 
	box-shadow: -2px 2px 4px #0b1d3f, 1px -1px #fff, inset -2px 2px 4px #0b1d3f, inset 1px -1px #fff; 
    -webkit-transform: rotateY(180deg); 
	-moz-transform: rotateY(180deg); 
	-0-transform: rotateY(180deg); 
	transform: rotateY(180deg); 
	-webkit-transition: transform 2s, box-shadow 2s;
	-moz-transition: transform 2s, box-shadow 2s;
	-o-transition: transform 2s, box-shadow 2s;
	transition: transform 2s, box-shadow 2s;}
}
/* Standard syntax */
@keyframes myBorderBox {
	50% {-moz-box-shadow: -2px 2px 4px #0b1d3f, 1px -1px #fff, inset -2px 2px 4px #0b1d3f, inset 1px -1px #fff; 
	box-shadow: -2px 2px 4px #0b1d3f, 1px -1px #fff, inset -2px 2px 4px #0b1d3f, inset 1px -1px #fff; 
	-moz-transform: rotateY(180deg); 
	-0-transform: rotateY(180deg); 
	transform: rotateY(180deg); 
	-moz-transition: transform 2s, box-shadow 2s;
	-o-transition: transform 2s, box-shadow 2s;
	transition: transform 2s, box-shadow 2s;}
}
/***END Square border shapes page***/


/*position shapes*/
.positionRelative1 {
	position: relative;
	top: -10px;
}
.positionRelative2 {
	position: relative;
	top: -20px;
}
.positionRelative3 {
	position: relative;
	top: -30px;
}

/******unordered lists ******/
ul#sitemap, ul#services, .coursework ul {
	list-style-image: url(images/crystal20circle.png);
}

ul#sitemap {
	padding: 0;
	margin: 0 0 0 30px;
}

ul#sitemap li {
	padding: 0 0 5px 0;
	margin: 0;
}

/*mobile vs desktop*/
#mobile-only  {display: none;}
.mobile {margin: 0;
	padding: 0;}
	
/*Test link for experimental pages*/
.test a {color: #f3f5f9;
	float: right;
	text-decoration: none;}
	

/*hyper-link special effects*/
#icon a img:link {}
#icon a img:visited {}
#icon a img:focus {border: 2px solid #a6c979;}
#icon a img:hover {border: 2px solid #a6c979;}
#icon a img:active {border: 2px solid #a6c979;}
#nav a:link {}
#nav a:visited {}
#nav a:focus {text-shadow: -1px -1px #2b55a9, 1px 1px #2b55a9, 1px -1px #2b55a9, -1px 1px #2b55a9; color: #fff;}
#nav a:hover {text-shadow: -1px -1px #2b55a9, 1px 1px #2b55a9, 1px -1px #2b55a9, -1px 1px #2b55a9; color: #fff;}
#nav a:active {text-shadow: -1px -1px #2b55a9, 1px 1px #2b55a9, 1px -1px #2b55a9, -1px 1px #2b55a9; color: #fff;}
/*#nav a:focus {text-shadow: -1px -1px #6384c1, 1px 1px #6384c1, 1px -1px #6384c1, -1px 1px #6384c1; color: #fff;}
#nav a:hover {text-shadow: -1px -1px #6384c1, 1px 1px #6384c1, 1px -1px #6384c1, -1px 1px #6384c1; color: #fff;}
#nav a:active {text-shadow: -1px -1px #6384c1, 1px 1px #6384c1, 1px -1px #6384c1, -1px 1px #6384c1; color: #fff;}*/
ul#nav li ul.dropdown a:link {}
ul#nav li ul.dropdown a:visited {}
ul#nav li ul.dropdown a:focus {text-shadow: -1px -1px #6384c1, 1px 1px #6384c1, 1px -1px #6384c1, -1px 1px #6384c1; color: #fff;}
ul#nav li ul.dropdown a:hover {text-shadow: -1px -1px #6384c1, 1px 1px #6384c1, 1px -1px #6384c1, -1px 1px #6384c1; color: #fff;}
ul#nav li ul.dropdown a:active {text-shadow: -1px -1px #6384c1, 1px 1px #6384c1, 1px -1px #6384c1, -1px 1px #6384c1; color: #fff;}
.content a:link {color: #0b1d3f;}
.content a:visited {color: #0b1d3f;}
.content a:focus {color: #2b55a9; text-decoration: none;}
.content a:hover {color: #2b55a9; text-decoration: none;}
.content a:active {color: #2b55a9; text-decoration: none;}
#header a:link {}
#header a:visited {}
#header a:focus {color: transparent; font-style: italic;}
#header a:hover {color: transparent; font-style: italic;}
#header a:active {color: transparent; font-style: italic;}
.footernav a:link, .footerinfo a:link {color: #f3f5f9;}
.footernav a:visited, .footerinfo a:visited {color: #f3f5f9;}
.footernav a:focus, .footerinfo a:focus {color: #0b1d3f; background-color: #a6c979; text-decoration: none; -webkit-border-radius: .3em; -moz-border-radius: .3em; border-radius: .3em;}
.footernav a:hover, .footerinfo a:hover {color: #0b1d3f; background-color: #a6c979; text-decoration: none; -webkit-border-radius: .3em; -moz-border-radius: .3em; border-radius: .3em;}
.footernav a:active, .footerinfo a:active {color: #0b1d3f; background-color: #a6c979; text-decoration: none; -webkit-border-radius: .3em; -moz-border-radius: .3em; border-radius: .3em;}
.socialicon:link {}
.socialicon:visited {}
.socialicon:focus {background-color: #a6c979; border: 1px solid #a6c979;}
.socialicon:hover {background-color: #a6c979; border: 1px solid #a6c979;}
.socialicon:active {background-color: #a6c979; border: 1px solid #a6c979;} 
.animate:hover {background-color: #000;}
.test a:link {}
.test a:visited {}
.test a:focus {color: #a6c979; font-style: italic;}
.test a:hover {color: #a6c979; font-style: italic;}
.test a:active {color: #a6c979; font-style: italic;}
button.menuBtn:link .cssBtn {}
button.menuBtn:visited .cssBtn {}
button.menuBtn:focus .cssBtn {background-color: #c8d3e8;}
button.menuBtn:hover .cssBtn {background-color: #c8d3e8; }
button.menuBtn:active .cssBtn {background-color: #c8d3e8;}
button.menuBtn:link {}
button.menuBtn:visited {}
button.menuBtn:focus {color: #c8d3e8;}
button.menuBtn:hover {color: #c8d3e8;}
button.menuBtn:active {color: #c8d3e8;}

ul#nav li ul.dropdown li.currentpage a:link {}
ul#nav li ul.dropdown li.currentpage a:visited {}
ul#nav li ul.dropdown li.currentpage a:focus {text-shadow: -1px -1px #6384c1, 1px 1px #6384c1, 1px -1px #6384c1, -1px 1px #6384c1; color: #fff;}
ul#nav li ul.dropdown li.currentpage a:hover {text-shadow: -1px -1px #6384c1, 1px 1px #6384c1, 1px -1px #6384c1, -1px 1px #6384c1; color: #fff;}
ul#nav li ul.dropdown li.currentpage a:active {text-shadow: -1px -1px #6384c1, 1px 1px #6384c1, 1px -1px #6384c1, -1px 1px #6384c1; color: #fff;}

ul#nav li ul.dropdown li ul.dropdown2 a:link {}
ul#nav li ul.dropdown li ul.dropdown2 a:visited {}
ul#nav li ul.dropdown li ul.dropdown2 a:focus {text-shadow: -1px -1px #c8d3e8, 1px 1px #c8d3e8, 1px -1px #c8d3e8, -1px 1px #c8d3e8; color: #0b1d3f;}
ul#nav li ul.dropdown li ul.dropdown2 a:hover {text-shadow: -1px -1px #c8d3e8, 1px 1px #c8d3e8, 1px -1px #c8d3e8, -1px 1px #c8d3e8; color: #0b1d3f;}
ul#nav li ul.dropdown li ul.dropdown2 a:active {text-shadow: -1px -1px #c8d3e8, 1px 1px #c8d3e8, 1px -1px #c8d3e8, -1px 1px #c8d3e8; color: #0b1d3f;}
ul#nav li ul.dropdown li ul.dropdown3 a:link {}
ul#nav li ul.dropdown li ul.dropdown3 a:visited {}
ul#nav li ul.dropdown li ul.dropdown3 a:focus {text-shadow: -1px -1px #c8d3e8, 1px 1px #c8d3e8, 1px -1px #c8d3e8, -1px 1px #c8d3e8; color: #0b1d3f;}
ul#nav li ul.dropdown li ul.dropdown3 a:hover {text-shadow: -1px -1px #c8d3e8, 1px 1px #c8d3e8, 1px -1px #c8d3e8, -1px 1px #c8d3e8; color: #0b1d3f;}
ul#nav li ul.dropdown li ul.dropdown3 a:active {text-shadow: -1px -1px #c8d3e8, 1px 1px #c8d3e8, 1px -1px #c8d3e8, -1px 1px #c8d3e8; color: #0b1d3f;}
ul#nav li ul.dropdown li ul.dropdown4 a:link {}
ul#nav li ul.dropdown li ul.dropdown4 a:visited {}
ul#nav li ul.dropdown li ul.dropdown4 a:focus {text-shadow: -1px -1px #c8d3e8, 1px 1px #c8d3e8, 1px -1px #c8d3e8, -1px 1px #c8d3e8; text-shadow: -1px -1px #c8d3e8, 1px 1px #c8d3e8, 1px -1px #c8d3e8, -1px 1px #c8d3e8; color: #0b1d3f;}
ul#nav li ul.dropdown li ul.dropdown4 a:hover {text-shadow: -1px -1px #c8d3e8, 1px 1px #c8d3e8, 1px -1px #c8d3e8, -1px 1px #c8d3e8; text-shadow: -1px -1px #c8d3e8, 1px 1px #c8d3e8, 1px -1px #c8d3e8, -1px 1px #c8d3e8; color: #0b1d3f;}
ul#nav li ul.dropdown li ul.dropdown4 a:active {text-shadow: -1px -1px #c8d3e8, 1px 1px #c8d3e8, 1px -1px #c8d3e8, -1px 1px #c8d3e8; color: #0b1d3f;}

	/*{shorthand: top right bottom left;}*/

/* CSS menu button */
.cssBtn {
	border: 2px solid #0b1d3f;
	background-color: #a6c979;
	-webkit-border-radius: .3em; 
	-moz-border-radius: .3em; 
	border-radius: .3em;
	margin: 0;
	padding-top: 3px;
	height: 36px;
	width: 39px;
	display: block;
	float: right;
}
.cssBtnLine {
	-webkit-border-radius: .1em; 
	-moz-border-radius: .1em; 
	border-radius: .1em;
	background-color: #0b1d3f;
	margin: 7px;
	padding: 0;
	height: 2px;
	display: block;
}


ul#nav li#currentpage a {color: #a6c979;}
ul#nav li#currentpage ul.dropdown a {color: #f3f5f9;}
ul#nav li#currentpage ul.dropdown ul.dropdown2 a , ul#nav li#currentpage ul.dropdown ul.dropdown3 a , ul#nav li#currentpage ul.dropdown ul.dropdown4 a {color: #2b55a9;}
ul#nav li#currentpage ul.dropdown li.currentpage a {text-shadow: -1px -1px #0b1d3f, 1px 1px #0b1d3f, 1px -1px #0b1d3f, -1px 1px #0b1d3f; color: #a6c979;}
ul#nav li#currentpage ul.dropdown3 li.currentpage a {text-shadow: -1px -1px #a6c979, 1px 1px #a6c979, 1px -1px #a6c979, -1px 1px #a6c979; color: #2b55a9;}
ul#nav li#currentpage ul.dropdown4 li.currentpage a {text-shadow: -1px -1px #a6c979, 1px 1px #a6c979, 1px -1px #a6c979, -1px 1px #a6c979; color: #2b55a9;}
ul#nav li#currentpage ul.dropdown li.ddtitle a {}

ul#nav li#currentpage ul.dropdown li a :focus {color: #0b1d3f;}
ul#nav li#currentpage ul.dropdown li a :hover {color: #0b1d3f;}
ul#nav li#currentpage ul.dropdown li a :active {color: #0b1d3f;}

ul#nav li#currentpage ul.dropdown ul.dropdown2 a:focus {color: #0b1d3f;}
ul#nav li#currentpage ul.dropdown ul.dropdown2 a:hover {color: #0b1d3f;}
ul#nav li#currentpage ul.dropdown ul.dropdown2 a:active {color: #0b1d3f;}

ul#nav li#currentpage ul.dropdown ul.dropdown3 a:focus {color: #0b1d3f;}
ul#nav li#currentpage ul.dropdown ul.dropdown3 a:hover {color: #0b1d3f;}
ul#nav li#currentpage ul.dropdown ul.dropdown3 a:active {color: #0b1d3f;}

ul#nav li#currentpage ul.dropdown ul.dropdown4 a:focus {color: #0b1d3f;}
ul#nav li#currentpage ul.dropdown ul.dropdown4 a:hover {color: #0b1d3f;}
ul#nav li#currentpage ul.dropdown ul.dropdown4 a:active {color: #0b1d3f;}	
	
ul#nav li#currentpage ul.dropdown li.currentpage a:focus {text-shadow: -1px -1px #6384c1, 1px 1px #6384c1, 1px -1px #6384c1, -1px 1px #6384c1;}
ul#nav li#currentpage ul.dropdown li.currentpage a:hover {text-shadow: -1px -1px #6384c1, 1px 1px #6384c1, 1px -1px #6384c1, -1px 1px #6384c1;}
ul#nav li#currentpage ul.dropdown li.currentpage a:active {text-shadow: -1px -1px #6384c1, 1px 1px #6384c1, 1px -1px #6384c1, -1px 1px #6384c1;}

ul#nav li#currentpage ul.dropdown3 li.currentpage a:focus {text-shadow: -1px -1px #a6c979, 1px 1px #a6c979, 1px -1px #a6c979, -1px 1px #a6c979;}
ul#nav li#currentpage ul.dropdown3 li.currentpage a:hover {text-shadow: -1px -1px #a6c979, 1px 1px #a6c979, 1px -1px #a6c979, -1px 1px #a6c979;}
ul#nav li#currentpage ul.dropdown3 li.currentpage a:active {text-shadow: -1px -1px #a6c979, 1px 1px #a6c979, 1px -1px #a6c979, -1px 1px #a6c979;}

ul#nav li#currentpage ul.dropdown4 li.currentpage a:focus {text-shadow: -1px -1px #a6c979, 1px 1px #a6c979, 1px -1px #a6c979, -1px 1px #a6c979;}
ul#nav li#currentpage ul.dropdown4 li.currentpage a:hover {text-shadow: -1px -1px #a6c979, 1px 1px #a6c979, 1px -1px #a6c979, -1px 1px #a6c979;}
ul#nav li#currentpage ul.dropdown4 li.currentpage a:active {text-shadow: -1px -1px #a6c979, 1px 1px #a6c979, 1px -1px #a6c979, -1px 1px #a6c979;}

ul#nav li#currentpage ul.dropdown li.ddtitle ul.dropdown2 a:focus {color: #0b1d3f;}
ul#nav li#currentpage ul.dropdown li.ddtitle ul.dropdown2 a:hover {color: #0b1d3f;}
ul#nav li#currentpage ul.dropdown li.ddtitle ul.dropdown2 a:active {color: #0b1d3f;}
	
ul#nav li#currentpage ul.dropdown li.ddtitle ul.dropdown3 a:focus {color: #0b1d3f;}
ul#nav li#currentpage ul.dropdown li.ddtitle ul.dropdown3 a:hover {color: #0b1d3f;}
ul#nav li#currentpage ul.dropdown li.ddtitle ul.dropdown3 a:active {color: #0b1d3f;}

ul#nav li#currentpage ul.dropdown li.ddtitle ul.dropdown4 a:focus {color: #0b1d3f;}
ul#nav li#currentpage ul.dropdown li.ddtitle ul.dropdown4 a:hover {color: #0b1d3f;}
ul#nav li#currentpage ul.dropdown li.ddtitle ul.dropdown4 a:active {color: #0b1d3f;}

#currentpagefooter:link {color: #a6c979;}
#currentpagefooter:visited {color: #a6c979;}
#currentpagefooter:focus {color: #0b1d3f; background-color: #a6c979; text-decoration: none; -webkit-border-radius: .3em; -moz-border-radius: .3em; border-radius: .3em;}
#currentpagefooter:hover {color: #0b1d3f; background-color: #a6c979; text-decoration: none; -webkit-border-radius: .3em; -moz-border-radius: .3em; border-radius: .3em;}
#currentpagefooter:active {color: #0b1d3f; background-color: #a6c979; text-decoration: none; -webkit-border-radius: .3em; -moz-border-radius: .3em; border-radius: .3em;}